@page
@model IndexModel
@{
    ViewData["Title"] = "Checkers";
}

<div class="text-left">
    <h1 class="display-4">Welcome To Checkers app</h1><hr /><br />
    <a href="~/Users">Show All Users</a><br /><br />
    <a href="~/Users/Register">Register</a><br /><br />
    <a href="~/Users/Queries">Queries</a><br /><br />
    <a href="~/Users/Update">Update User</a><br /><br />
    <a href="~/Users/Delete">Delete User</a><br /><br />


</div>